<h2>Meus Heróis</h2>
<ul class="heroes">
  <li *ngFor="let heroi of herois">
    <a routerLink="/detail/{{heroi.id}}">
      <span class="badge">{{heroi.id}}</span> {{heroi.nome}}
    </a>
    <button class="delete" title="delete heroi" (click)="delete(heroi)">x</button>
  </li>
</ul>

<div>
  <label>Nome do Heroi:
    <input #heroiNome/>
  </label>
  <!-- (click) passa o valor de entrada para add() e depois limpa a entrada - -->
  <button (click)="add(heroiNome.value); heroiNome.value=''">
    Adiciona
  </button>
</div>

